.about-container{
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.about-container .about-cont{
    max-width: 100%;
    height: 100%;
    background: rgba(19, 19, 19, 0.9);
    padding: 2rem;
    display: flex;
}
.about-container .about-cont .about-text{
    height:100%;
    width:100%;
}
.about-container .about-cont .about-text h2{
    margin-bottom: 2rem;
    color: rgba(231,110,46,255);
}