.kennel-container{
    width:100%;
    min-height:100vh;
    position: relative;
    background-image: url("../img/Dog2.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.kennel-dog{
    margin: 0 20px 20px 300px;
    padding-top: 100px;
    display: flex;
}
.dog-man{
    width: 50%;
}
.dog-woman{
    width: 50%;
}
.dog-box1{
    margin: 10px;
    padding: 10px;
    background-color: rgba(231, 111, 46, 0.4);
    backdrop-filter: blur(3px);
    border-radius: 25px;
    box-shadow: 0 25px 25px rgba(0,0,0,0.5);
    transition: 0.5s;
}
.dog-box1:hover{
    transform: scale(1.05);
}
.dog-box2{
    margin: 10px;
    padding: 10px;
    background-color: rgba(231, 111, 46, 0.4);
    backdrop-filter: blur(3px);
    border-radius: 25px;
    box-shadow: 0 25px 25px rgba(0,0,0,0.5);
    transition: 0.5s;
}
.dog-box2:hover{
    transform: scale(1.05);
}
h2{
    margin-bottom: 5px;
}
.btn-kennel{
    margin-left: 30%;
}
.dog-info{
    display: flex;
}
p{
    padding: 0 10px;
}

@media screen and (max-width: 1000px) {
    .kennel-dog{
        display: block;
        margin: 0;
    }
    .dog-man{
        width:100%;
    }
    .dog-woman{
        width: 100%;
    }
}
