.header{
    width: 200px;
    height: 100vh;
    padding: 20px;
    background: transparent;
    position: absolute;
    top: 30%;
    left: 0;
}
.header a{
    text-decoration: none;
}
.header ul{
    list-style-type: none;
}
@media screen and (max-width: 640px) {
    .header{
        left: -100%;
    }
}